input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  justify-self: start;
  border-radius: 15px;
  width: 300px;
  outline: none;
  /* padding: 8px; */
  /* margin-left: 60px; */
  /* align-items: center; */
}

.search-bar {
  /* margin-left: 60px; */
  /* display: flex; */
  /* align-items: center; */
  /* margin-left: 10px; */
}
